<form method="POST" action="/post">
  <label for="email">Your Email:</label>
    <input type="text" name="email" id="email"><br>
  <label for="username">Your Username:</label>
    <input type="text" name="username" id="username"><br>
  <label>Post Title:</label>
    <input type="text" name="name" id="name"><br>
  <label>Post Url:</label>
    <input type="text" name="url" id="url"><br>
  <input type="submit" value="Submit">
</form>
